html {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #000;
    align-items: stretch;
}

body nav {
    display: flex;
}

.cover-container {
    background: #fff url(../images/chat-no-registration-instant-messaging-free.jpg) no-repeat scroll center;
    flex-grow: 1;
    flex-direction: row;
}

@media all and (min-width: 1024px) {
.cover-container h1 {
    padding-right: 6rem;
    padding-left: 6rem;
}
}

.cover-container h1, .cover-container p {
    color: #000;
}

.cover-container h1 {
    text-shadow: rgba(0,0,0,0.4) 0px 0px 3px;
}

.cover-container main {
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.opening-intro {
    width: 100%;
    margin: auto;
}

.opening-intro > div {

}

.search-users {
    background-color: #fff;
}

.search-users h3 {
    color: #333;
}

.home-feature-list {
    text-align: left;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

.home-feature-list > .row > div {
    padding-left: 48px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.home-feature-list > .row > div > h4 {
    margin-bottom: 0px;
}

.home-intro-description {
    
}

.home-user-review {
    background-color: white;
    color: #000;
}

.home-user-review .square{
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;
}

.home-user-review .square h3 {
    font-size: 48px;
}

.home-user-review .square p {
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

.home-user-review .review-text {
    font-style: italic;
}

.home-user-review .review-text h3{
    font-weight: 900;
}

.info-section {
    text-align: left;
}

.explanation-section {
    background-color: white;
    color: #000;
}

.explanation-section ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-left: 48px;
}

.explanation-section ol li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    padding-left: 12px;
    text-align: left;
    font-size: 28px;
    padding-right: 48px;
    margin-bottom: 1.5rem;
}

.explanation-section ol li h4 {
    font-size: 28px;
    font-weight: 700;
}

.explanation-section ol li p {
    font-size: 21px;
}

@media screen and (max-width: 1024px) {
    .explanation-section ol {
        flex-direction: column;
    }

    .explanation-section ol li{
        padding-right: 0px;
    } 
}

.explanation-section .explaination-url {
    font-weight: 200;
}

.explanation-section p.explaination-reference {
    font-size: 12px;
    text-align: center;
    padding-top: 32px;
    margin-bottom: 16px;
    font-style: italic;
}

.pros-section {

}

.pros-section .row {
    display: flex;
    flex-direction: row;
}

.pros-section .row .col{
    padding-bottom: 24px;
    display: flex;
}

.pros-section h4 {
    padding: 32px;
    margin: 0 16px;
    margin-bottom: 8px;
    border: 2px solid  white;
    text-transform: uppercase;
    box-sizing: content-box;
    align-content: center;
    align-items: center;
    flex-grow: 1;
}

.cta-chat {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 992px) {
    .cta-chat {
        flex-direction: column;
        gap: 8px;
    }
}

.user-case-window {

}

.user-case-window .title-label {
    font-style: italic;
    margin-bottom: 48px;;
}

.user-case-window .user-case-container {
    margin-bottom: 48px;
}

.user-case-window .user-case-container h4 {
    font-weight: 900;
    margin-bottom: 16px;
}

.user-case-window .user-case-container p.info-label {
    font-size: smaller;
    margin: 0;
}

.user-case-window .user-case-container p.pro-label {
    margin-top: 8px;
    font-weight: 500;
    font-size: larger;
}

.user-case-window .user-case-container ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-case-window .user-case-container ul li {
    font-size: smaller;
    text-transform: uppercase;
    border-bottom: 1px solid #555;
}

.user-case-window .user-case-container ul li:last-child {
    border-bottom: 0;
}

/* */

.footer p{
    font-size: 12px;
}