rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2025, 6, 30);
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update, delete: if request.auth.uid == userId;

      match /isUser {
        allow read: if request.auth.uid == userId;
      }

      match /fcmToken {
        allow read: if request.auth.uid == userId;
      }
    }

    match /usersChats/{userId}/otherUser/{otherUser} {
      allow read, delete: if request.auth.uid == userId;
      allow create, update: if request.auth.uid == userId || request.auth.uid == otherUser;
    }

    match /chat/{chatroomId}/chat/{guestId}/messages/{time} {
      allow read, create: if request.auth.uid == chatroomId || request.auth.uid == guestId;
      allow update, delete: if false;
    }
    
  }
}